1_Training/flows_inventory.json
[
    {
        "id": "e464c0cd.2d362",
        "type": "tab",
        "label": "Inventory Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ace72bda.134978",
        "type": "inject",
        "z": "e464c0cd.2d362",
        "name": "Take Photo",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 300,
        "y": 160,
        "wires": [
            [
                "7ca13a51.eb3884"
            ]
        ]
    },
    {
        "id": "7ca13a51.eb3884",
        "type": "usbcamera",
        "z": "e464c0cd.2d362",
        "filemode": "0",
        "filename": "image01.jpg",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "jpeg",
        "resolution": "1",
        "name": "Camera",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "176b3e13.f12d52"
            ]
        ]
    },
    {
        "id": "624e4764.ae2f58",
        "type": "image",
        "z": "e464c0cd.2d362",
        "name": "Preview Image",
        "width": 160,
        "data": "payload.image",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "176b3e13.f12d52",
        "type": "http request",
        "z": "e464c0cd.2d362",
        "name": "See Things",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://localhost:8888/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "624e4764.ae2f58",
                "9f63d939.7bb4b8",
                "c893bbfd.6fede8"
            ]
        ]
    },
    {
        "id": "24a42ea3.de3652",
        "type": "debug",
        "z": "e464c0cd.2d362",
        "name": "Output Things",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 660,
        "y": 580,
        "wires": []
    },
    {
        "id": "274a7a29.e39c66",
        "type": "pythonshell in",
        "z": "e464c0cd.2d362",
        "name": "Start Detector",
        "pyfile": "/home/pi/.node-red/projects/inventory/4_Serve/Serve.py",
        "virtualenv": "/home/pi/.node-red/projects/inventory/env",
        "continuous": true,
        "stdInData": false,
        "x": 120,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "9f63d939.7bb4b8",
        "type": "change",
        "z": "e464c0cd.2d362",
        "name": "Save Current Things",
        "rules": [
            {
                "t": "set",
                "p": "currentThings",
                "pt": "global",
                "to": "payload.things",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 280,
        "wires": [
            [
                "afc37bf5.aaa9a8"
            ]
        ]
    },
    {
        "id": "41d333f4.b3c66c",
        "type": "function",
        "z": "e464c0cd.2d362",
        "name": "Write Current Speech",
        "func": "function buildText(things) {\n    // console.log(\"things\", things);\n    let textOut = '';\n    for (let i in things) {\n        if (i != 'undefined') {\n            if (textOut) {\n                textOut += ', ';\n            }\n            textOut += things[i] + ' ' + i;\n        }\n    }\n    return textOut;\n}\n\n// Set text output from current thing counts.\nlet currentThingCounts = msg.currentThingCounts;\nlet textOut = '';\nlet currentText = buildText(currentThingCounts);\nif (currentText != '') {\n    textOut = 'Currently ' + currentText;\n} else {\n    textOut = 'Nothing found';\n}\n\n// If things missing, add to text output.\nlet missingThingCounts = msg.missingThingCounts;\nlet missingText = buildText(missingThingCounts);\nif (missingText != '') {\n    textOut += \", order \" + missingText;\n}\n\n// End sentence.\nif (textOut) {\n    textOut += \".\";\n}\n\n// Output text description.\nmsg.payload = textOut;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 440,
        "wires": [
            [
                "356603d8.77a69c",
                "24a42ea3.de3652",
                "e67704b9.a11348"
            ]
        ]
    },
    {
        "id": "356603d8.77a69c",
        "type": "play audio",
        "z": "e464c0cd.2d362",
        "name": "Play Speech",
        "voice": "0",
        "x": 650,
        "y": 540,
        "wires": []
    },
    {
        "id": "42531c6e.89d914",
        "type": "inject",
        "z": "e464c0cd.2d362",
        "name": "Save Things",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 310,
        "y": 540,
        "wires": [
            [
                "3289b612.96661a"
            ]
        ]
    },
    {
        "id": "3289b612.96661a",
        "type": "change",
        "z": "e464c0cd.2d362",
        "name": "Save Needed Things",
        "rules": [
            {
                "t": "set",
                "p": "neededThings",
                "pt": "global",
                "to": "currentThings",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 580,
        "wires": [
            [
                "a5f9d2b7.97394"
            ]
        ]
    },
    {
        "id": "67e7d1d9.385d8",
        "type": "function",
        "z": "e464c0cd.2d362",
        "name": "Write Save Speech",
        "func": "function buildText(things) {\n    // console.log(\"things\", things);\n    let textOut = '';\n    for (let i in things) {\n        if (textOut) {\n            textOut += ', ';\n        }\n        textOut += things[i] + ' ' + i;\n    }\n    return textOut;\n}\n\n// Set text output from needed things.\nlet neededThingCounts = msg.neededThingCounts;\nlet textOut = '';\nlet neededText = buildText(neededThingCounts);\nif (neededText != '') {\n    textOut = 'Save shopping list ' + neededText;\n} else {\n    textOut = 'Nothing to save for shopping list';\n}\n\n// End sentence.\nif (textOut) {\n    textOut += \".\";\n}\n\n// Output text description.\nmsg.payload = textOut;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 660,
        "wires": [
            [
                "356603d8.77a69c",
                "24a42ea3.de3652",
                "f5989bb7.02cec8"
            ]
        ]
    },
    {
        "id": "afc37bf5.aaa9a8",
        "type": "differences",
        "z": "e464c0cd.2d362",
        "name": "Find Missing Things",
        "leftInput": "neededThings",
        "leftInputType": "global",
        "rightInput": "currentThings",
        "rightInputType": "global",
        "func": "-",
        "outputType": "msg",
        "output": "missingThings",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "2aa76230.2e124e"
            ]
        ]
    },
    {
        "id": "eca8b049.2c54",
        "type": "pythonshell in",
        "z": "e464c0cd.2d362",
        "name": "Start Video",
        "pyfile": "/home/pi/.node-red/projects/inventory/4_Serve/ServeVideoPiCamera.py",
        "virtualenv": "/home/pi/.node-red/projects/inventory/env",
        "continuous": true,
        "stdInData": false,
        "x": 110,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "6acc7853.e45848",
        "type": "ui_button",
        "z": "e464c0cd.2d362",
        "name": "Detect Things",
        "group": "b8f2c4f9.0886c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Detect Things",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"video-frame\":true}",
        "payloadType": "json",
        "topic": "",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "176b3e13.f12d52"
            ]
        ]
    },
    {
        "id": "d078e4ac.686648",
        "type": "ui_button",
        "z": "e464c0cd.2d362",
        "name": "Save Things",
        "group": "b8f2c4f9.0886c8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save Things",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 580,
        "wires": [
            [
                "3289b612.96661a"
            ]
        ]
    },
    {
        "id": "e67704b9.a11348",
        "type": "ui_text",
        "z": "e464c0cd.2d362",
        "group": "b8f2c4f9.0886c8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Current Status",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 660,
        "y": 620,
        "wires": []
    },
    {
        "id": "c893bbfd.6fede8",
        "type": "ui_template",
        "z": "e464c0cd.2d362",
        "group": "b8f2c4f9.0886c8",
        "name": "Current Video",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align: center;\">\n    <div>\n        <img id=\"video\" height=\"240px\" src=\"\">\n    </div>\n    <div>\n        <img height=\"240px\" src=\"data:image/jpg;base64,{{msg.payload.image}}\" alt='Image not found' />\n    </div>\n</div>\n<script>\nvar video = document.getElementById(\"video\");\nvideo.src = 'http://' + window.location.hostname + ':22334/stream.mjpg';\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 660,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f5989bb7.02cec8",
        "type": "ui_text",
        "z": "e464c0cd.2d362",
        "group": "b8f2c4f9.0886c8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Shopping List",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 660,
        "y": 660,
        "wires": []
    },
    {
        "id": "2aa76230.2e124e",
        "type": "summarizer",
        "z": "e464c0cd.2d362",
        "name": "Count Current Things",
        "input": "currentThings",
        "inputType": "global",
        "output": "currentThingCounts",
        "label": "",
        "topic": "",
        "outputs": 1,
        "rules": [
            {
                "field": "thing",
                "op": "group",
                "sep": ","
            }
        ],
        "x": 340,
        "y": 360,
        "wires": [
            [
                "d4c05618.2abfd8"
            ]
        ]
    },
    {
        "id": "d4c05618.2abfd8",
        "type": "summarizer",
        "z": "e464c0cd.2d362",
        "name": "Count Missing Things",
        "input": "missingThings",
        "inputType": "msg",
        "output": "missingThingCounts",
        "label": "",
        "topic": "",
        "outputs": 1,
        "rules": [
            {
                "field": "thing",
                "op": "group",
                "sep": ","
            }
        ],
        "x": 340,
        "y": 400,
        "wires": [
            [
                "41d333f4.b3c66c"
            ]
        ]
    },
    {
        "id": "a5f9d2b7.97394",
        "type": "summarizer",
        "z": "e464c0cd.2d362",
        "name": "Count Needed Things",
        "input": "neededThings",
        "inputType": "global",
        "output": "neededThingCounts",
        "label": "",
        "topic": "",
        "outputs": 1,
        "rules": [
            {
                "field": "thing",
                "op": "group",
                "sep": ","
            }
        ],
        "x": 340,
        "y": 620,
        "wires": [
            [
                "67e7d1d9.385d8"
            ]
        ]
    },
    {
        "id": "b8f2c4f9.0886c8",
        "type": "ui_group",
        "z": "",
        "name": "Inventory Tracker",
        "tab": "f8f5d748.cf0458",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f8f5d748.cf0458",
        "type": "ui_tab",
        "z": "",
        "name": "Inventory Tracker",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
